#
# Documentation is here: http://git-scm.com/docs/gitignore
#
configuration.php
idMyGadget
resume

language/en-GB/en-GB.mod_demo_idmygadget.ini
language/en-GB/en-GB.mod_demo_idmygadget.sys.ini
language/en-GB/en-GB.mod_menu_idmygadget.ini
language/en-GB/en-GB.mod_menu_idmygadget.sys.ini
language/en-GB/en-GB.tpl_jmws_beez3_idmygadget.ini
language/en-GB/en-GB.tpl_jmws_beez3_idmygadget.sys.ini
language/en-GB/en-GB.tpl_jmws_protostar_idmygadget.ini
language/en-GB/en-GB.tpl_jmws_protostar_idmygadget.sys.ini
language/en-GB/en-GB.tpl_jmws_protostar_tomh_idMyGadget.ini
language/en-GB/en-GB.tpl_jmws_protostar_tomh_idMyGadget.sys.ini

libraries/vendor/jmws_idMyGadget_for_joomla

modules/mod_demo_idmygadget
modules/mod_menu_idmygadget

templates/jmws_beez3_idmygadget
templates/jmws_beez3_idmygadget/
templates/jmws_protostar_idmygadget
templates/jmws_protostar_idmygadget/
templates/jmws_protostar_tomh_idMyGadget
templates/jmws_protostar_tomh_idMyGadget/

/cache/
/logs/
/nbproject/
*.swp
/tmp/

